# Game Features - Odds and Refs

To get the odds and refs, I had to purchase some data from bigdataball.com. 

I hypothetically could have scraped the information from https://www.scoresandodds.com/nba, but, as the project has already gone many iterations over my initial time budget, I wanted to save some time. 

This data is in 'data/team/bigdataball_odds/2018-22 NBA Box Score Team Stats w. Odds.xlsx'

This data should be messed with in Excel, just because thats how I have been doing it.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os
import random
import shutil
import plotly
os.chdir('C:\\Users\\Travis\\OneDrive\\Data Science\\Personal_Projects\\Sports\\NBA_Prediction_V3_1')

In [2]:
df = pd.read_csv('data\\team\\bigdataball\\2018-2022_BDB_Boxes_with_Odds.csv')
df.head(2)

,DATASET,GAME-ID,DATE,TEAM,VENUE,1Q,2Q,3Q,4Q,OT1,...,BOX SCORE\nURL,ODDS\nURL,Team_Abrev,Nba_com_team_Abbrev,Opp_abbrev,Nba_com_team_Abbrev.1,Date_underscore,HomeTeam,AwayTeam,Matchup_GameDate
0,NBA 2018-2019 Regular Season,21800001,10/16/2018,Philadelphia,R,21,21,24,21,NaN,...,NaN,NaN,Phi,PHI,Bos,BOS,10_16_2018,BOS,PHI,BOS @ PHI 10_16_2018
1,NBA 2018-2019 Regular Season,21800001,10/16/2018,Boston,H,21,26,30,28,NaN,...,BOX SCORE,ODDS,Bos,BOS,Phi,PHI,10_16_2018,BOS,PHI,BOS @ PHI 10_16_2018

In [3]:
# load this seasons BDB data
df2 = pd.read_csv('data/team/aggregates/bigdataball_team_boxes.csv')
df2.head(2)

,BIGDATABALL\nDATASET,GAME-ID,DATE,TEAM,VENUE,1Q,2Q,3Q,4Q,OT1,...,BOX SCORE\nURL,FULL GAME\nODDS URL,Team_Abrev,Nba_com_team_Abbrev,Opp_Abbrev,Nba_com_team_2_abbrev,Date_underscore,HomeTeam,AwayTeam,Matchup_GameDate
0,NBA 2022-2023 Regular Season,22200001,10/18/2022,Philadelphia,R,29,34,25,29,NaN,...,NaN,NaN,Phi,PHI,Bos,BOS,10_18_2022,BOS,PHI,PHI @ BOS_10_18_2022
1,NBA 2022-2023 Regular Season,22200001,10/18/2022,Boston,H,24,39,35,28,NaN,...,BOX SCORE,ODDS,Bos,BOS,Phi,PHI,10_18_2022,BOS,PHI,PHI @ BOS_10_18_2022

In [4]:
df.columns

Index(['DATASET', 'GAME-ID', 'DATE', 'TEAM', 'VENUE', '1Q', '2Q', '3Q', '4Q',
       'OT1', 'OT2', 'OT3', 'OT4', 'OT5', 'F', 'MIN', 'FG', 'FGA', '3P', '3PA',
       'FT', 'FTA', 'OR', 'DR', 'TOT', 'A', 'PF', 'ST', 'TO', 'TO\nTO', 'BL',
       'PTS', 'POSS', 'PACE', 'OEFF', 'DEFF', 'TEAM\nREST DAYS',
       'STARTING LINEUPS', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'MAIN REF', 'CREW', 'OPENING ODDS', 'OPENING SPREAD',
       'OPENING TOTAL', 'LINE \nMOVEMENT #1', 'LINE \nMOVEMENT #2',
       'LINE \nMOVEMENT #3', 'CLOSING\nODDS', 'CLOSING SPREAD',
       'CLOSING TOTAL', 'MONEYLINE', 'HALFTIME', 'BOX SCORE\nURL', 'ODDS\nURL',
       'Team_Abrev', 'Nba_com_team_Abbrev', 'Opp_abbrev',
       'Nba_com_team_Abbrev.1', 'Date_underscore', 'HomeTeam', 'AwayTeam',
       'Matchup_GameDate'],
      dtype='object')

In [5]:
df2.columns

Index(['BIGDATABALL\nDATASET', 'GAME-ID', 'DATE', 'TEAM', 'VENUE', '1Q', '2Q',
       '3Q', '4Q', 'OT1', 'OT2', 'OT3', 'OT4', 'OT5', 'F', 'MIN', 'FG', 'FGA',
       '3P', '3PA', 'FT', 'FTA', 'OR', 'DR', 'TOT', 'A', 'PF', 'ST', 'TO',
       'TO\nTO', 'BL', 'PTS', 'POSS', 'PACE', 'OEFF', 'DEFF',
       'TEAM\nREST DAYS', 'STARTING LINEUPS', 'Unnamed: 38', 'Unnamed: 39',
       'Unnamed: 40', 'Unnamed: 41', 'CREW CHIEF', 'REFEREE\n&\nUMPIRE',
       'OPENING ODDS', 'OPENING SPREAD', 'OPENING TOTAL', 'LINE \nMOVEMENT #1',
       'LINE \nMOVEMENT #2', 'LINE \nMOVEMENT #3', 'CLOSING\nODDS',
       'CLOSING SPREAD', 'CLOSING TOTAL', 'MONEYLINE', 'HALFTIME',
       'BOX SCORE\nURL', 'FULL GAME\nODDS URL', 'Team_Abrev',
       'Nba_com_team_Abbrev', 'Opp_Abbrev', 'Nba_com_team_2_abbrev',
       'Date_underscore', 'HomeTeam', 'AwayTeam', 'Matchup_GameDate'],
      dtype='object')

In [6]:
df2.rename(columns={'BIGDATABALL\nDATASET':'DATASET', 'Opp_Abbrev' : 'Opp_abbrev', 'Nba_com_team_2_abbrev' : 'Nba_com_team_Abbrev.1'}, inplace=True)

In [7]:
# get the differences in the column names
set(df.columns) - set(df2.columns)

{'CREW', 'MAIN REF', 'ODDS\nURL'}

In [8]:
# append this seasons data to the historical data
df = df.append(df2)
df

C:\Users\Travis\AppData\Local\Temp\ipykernel_47744\1804925609.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2)

,DATASET,GAME-ID,DATE,TEAM,VENUE,1Q,2Q,3Q,4Q,OT1,...,Nba_com_team_Abbrev,Opp_abbrev,Nba_com_team_Abbrev.1,Date_underscore,HomeTeam,AwayTeam,Matchup_GameDate,CREW CHIEF,REFEREE\n&\nUMPIRE,FULL GAME\nODDS URL
0,NBA 2018-2019 Regular Season,21800001,10/16/2018,Philadelphia,R,21,21,24,21,NaN,...,PHI,Bos,BOS,10_16_2018,BOS,PHI,BOS @ PHI 10_16_2018,NaN,NaN,NaN
1,NBA 2018-2019 Regular Season,21800001,10/16/2018,Boston,H,21,26,30,28,NaN,...,BOS,Phi,PHI,10_16_2018,BOS,PHI,BOS @ PHI 10_16_2018,NaN,NaN,NaN
2,NBA 2018-2019 Regular Season,21800002,10/16/2018,Oklahoma City,R,23,24,32,21,NaN,...,OKC,Gol,GSW,10_16_2018,GSW,OKC,GSW @ OKC 10_16_2018,NaN,NaN,NaN
3,NBA 2018-2019 Regular Season,21800002,10/16/2018,Golden State,H,31,26,26,25,NaN,...,GSW,Okc,OKC,10_16_2018,GSW,OKC,GSW @ OKC 10_16_2018,NaN,NaN,NaN
4,NBA 2018-2019 Regular Season,21800003,10/17/2018,Milwaukee,R,36,31,26,20,NaN,...,MIL,Cha,CHA,10_17_2018,CHA,MIL,CHA @ MIL 10_17_2018,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1145,NBA 2022-2023 Regular Season,22200573,01/04/2023,Golden State,H,26,30,32,31,NaN,...,GSW,Det,DET,01_04_2023,GSW,DET,DET @ GSW_01_04_2023,NaN,Mitchell Ervin,ODDS
1146,NBA 2022-2023 Regular Season,22200574,01/04/2023,Miami,R,23,25,30,31,NaN,...,MIA,Lal,LAL,01_04_2023,LAL,MIA,MIA @ LAL_01_04_2023,Leon Wood,Justin Van Duyne,NaN
1147,NBA 2022-2023 Regular Season,22200574,01/04/2023,LA Lakers,H,32,20,27,33,NaN,...,LAL,Mia,MIA,01_04_2023,LAL,MIA,MIA @ LAL_01_04_2023,NaN,Zach Zarba,ODDS
1148,NBA 2022-2023 Regular Season,22200575,01/04/2023,Atlanta,R,30,31,30,29,NaN,...,ATL,Sac,SAC,01_04_2023,SAC,ATL,ATL @ SAC_01_04_2023,David Guthrie,CJ Washington,NaN
1149,NBA 2022-2023 Regular Season,22200575,01/04/2023,Sacramento,H,30,28,30,29,NaN,...,SAC,Atl,ATL,01_04_2023,SAC,ATL,ATL @ SAC_01_04_2023,NaN,Ashley Moyer-Gleich,ODDS

###  Set up GameID to connect with main testing df
bigdataball uses a different form of gameids than Nba.com or BBallRef.

In [9]:
# get opposing team abbrev
def get_opp(df,  game_id, team_abbrev):
    data = df[df['GAME-ID'] == game_id]
    opp_abbrev = data[data['Nba_com_team_Abbrev'] != team_abbrev]
    return opp_abbrev['Nba_com_team_Abbrev'].values[0]

In [10]:
df['opponent'] = df.apply(lambda row: get_opp(df, row['GAME-ID'], row['Nba_com_team_Abbrev']), axis=1)
df.head()

,DATASET,GAME-ID,DATE,TEAM,VENUE,1Q,2Q,3Q,4Q,OT1,...,Opp_abbrev,Nba_com_team_Abbrev.1,Date_underscore,HomeTeam,AwayTeam,Matchup_GameDate,CREW CHIEF,REFEREE\n&\nUMPIRE,FULL GAME\nODDS URL,opponent
0,NBA 2018-2019 Regular Season,21800001,10/16/2018,Philadelphia,R,21,21,24,21,NaN,...,Bos,BOS,10_16_2018,BOS,PHI,BOS @ PHI 10_16_2018,NaN,NaN,NaN,BOS
1,NBA 2018-2019 Regular Season,21800001,10/16/2018,Boston,H,21,26,30,28,NaN,...,Phi,PHI,10_16_2018,BOS,PHI,BOS @ PHI 10_16_2018,NaN,NaN,NaN,PHI
2,NBA 2018-2019 Regular Season,21800002,10/16/2018,Oklahoma City,R,23,24,32,21,NaN,...,Gol,GSW,10_16_2018,GSW,OKC,GSW @ OKC 10_16_2018,NaN,NaN,NaN,GSW
3,NBA 2018-2019 Regular Season,21800002,10/16/2018,Golden State,H,31,26,26,25,NaN,...,Okc,OKC,10_16_2018,GSW,OKC,GSW @ OKC 10_16_2018,NaN,NaN,NaN,OKC
4,NBA 2018-2019 Regular Season,21800003,10/17/2018,Milwaukee,R,36,31,26,20,NaN,...,Cha,CHA,10_17_2018,CHA,MIL,CHA @ MIL 10_17_2018,NaN,NaN,NaN,CHA

In [11]:
df['date'] = df['DATE'].astype(str).str.replace('/', '_')
df.head()

,DATASET,GAME-ID,DATE,TEAM,VENUE,1Q,2Q,3Q,4Q,OT1,...,Nba_com_team_Abbrev.1,Date_underscore,HomeTeam,AwayTeam,Matchup_GameDate,CREW CHIEF,REFEREE\n&\nUMPIRE,FULL GAME\nODDS URL,opponent,date
0,NBA 2018-2019 Regular Season,21800001,10/16/2018,Philadelphia,R,21,21,24,21,NaN,...,BOS,10_16_2018,BOS,PHI,BOS @ PHI 10_16_2018,NaN,NaN,NaN,BOS,10_16_2018
1,NBA 2018-2019 Regular Season,21800001,10/16/2018,Boston,H,21,26,30,28,NaN,...,PHI,10_16_2018,BOS,PHI,BOS @ PHI 10_16_2018,NaN,NaN,NaN,PHI,10_16_2018
2,NBA 2018-2019 Regular Season,21800002,10/16/2018,Oklahoma City,R,23,24,32,21,NaN,...,GSW,10_16_2018,GSW,OKC,GSW @ OKC 10_16_2018,NaN,NaN,NaN,GSW,10_16_2018
3,NBA 2018-2019 Regular Season,21800002,10/16/2018,Golden State,H,31,26,26,25,NaN,...,OKC,10_16_2018,GSW,OKC,GSW @ OKC 10_16_2018,NaN,NaN,NaN,OKC,10_16_2018
4,NBA 2018-2019 Regular Season,21800003,10/17/2018,Milwaukee,R,36,31,26,20,NaN,...,CHA,10_17_2018,CHA,MIL,CHA @ MIL 10_17_2018,NaN,NaN,NaN,CHA,10_17_2018

In [12]:
def make_gameid(df, gameid, team_abv,  home_or_road, date):
    data = df[df['GAME-ID'] == gameid]
    home_team_data = data[data['VENUE'] == 'H']
    home_team = home_team_data['Nba_com_team_Abbrev'].values[0]
    away_team_data = data[data['VENUE'] == 'R']
    away_team = away_team_data['Nba_com_team_Abbrev'].values[0]
    home_gameid = home_team + ' vs. ' + away_team + '_' + date
    away_gameid = away_team + ' @ ' + home_team + '_' + date
    if team_abv == home_team:
        return home_gameid
    elif team_abv == away_team:
        return away_gameid

In [13]:
df['Matchup_GameDate'] = df.apply(lambda row: make_gameid(df, row['GAME-ID'], row['Nba_com_team_Abbrev'], row['VENUE'], row['date']), axis=1)
df.head()

,DATASET,GAME-ID,DATE,TEAM,VENUE,1Q,2Q,3Q,4Q,OT1,...,Nba_com_team_Abbrev.1,Date_underscore,HomeTeam,AwayTeam,Matchup_GameDate,CREW CHIEF,REFEREE\n&\nUMPIRE,FULL GAME\nODDS URL,opponent,date
0,NBA 2018-2019 Regular Season,21800001,10/16/2018,Philadelphia,R,21,21,24,21,NaN,...,BOS,10_16_2018,BOS,PHI,PHI @ BOS_10_16_2018,NaN,NaN,NaN,BOS,10_16_2018
1,NBA 2018-2019 Regular Season,21800001,10/16/2018,Boston,H,21,26,30,28,NaN,...,PHI,10_16_2018,BOS,PHI,BOS vs. PHI_10_16_2018,NaN,NaN,NaN,PHI,10_16_2018
2,NBA 2018-2019 Regular Season,21800002,10/16/2018,Oklahoma City,R,23,24,32,21,NaN,...,GSW,10_16_2018,GSW,OKC,OKC @ GSW_10_16_2018,NaN,NaN,NaN,GSW,10_16_2018
3,NBA 2018-2019 Regular Season,21800002,10/16/2018,Golden State,H,31,26,26,25,NaN,...,OKC,10_16_2018,GSW,OKC,GSW vs. OKC_10_16_2018,NaN,NaN,NaN,OKC,10_16_2018
4,NBA 2018-2019 Regular Season,21800003,10/17/2018,Milwaukee,R,36,31,26,20,NaN,...,CHA,10_17_2018,CHA,MIL,MIL @ CHA_10_17_2018,NaN,NaN,NaN,CHA,10_17_2018

In [14]:
df = df.drop(columns = ['BOX SCORE\nURL', 'ODDS\nURL', 'HALFTIME' ])

In [15]:
df = df.drop(columns = ['1Q', '2Q', '3Q', '4Q',
       'OT1', 'OT2', 'OT3', 'OT4', 'OT5', 'F', 'MIN', 'FG', 'FGA', '3P', '3PA',
       'FT', 'FTA', 'OR', 'DR', 'TOT', 'A', 'PF', 'ST', 'TO', 'TO\nTO', 'BL',
       'PTS', 'POSS', 'PACE', 'OEFF', 'DEFF'])

In [16]:
df.columns

Index(['DATASET', 'GAME-ID', 'DATE', 'TEAM', 'VENUE', 'TEAM\nREST DAYS',
       'STARTING LINEUPS', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'MAIN REF', 'CREW', 'OPENING ODDS', 'OPENING SPREAD',
       'OPENING TOTAL', 'LINE \nMOVEMENT #1', 'LINE \nMOVEMENT #2',
       'LINE \nMOVEMENT #3', 'CLOSING\nODDS', 'CLOSING SPREAD',
       'CLOSING TOTAL', 'MONEYLINE', 'Team_Abrev', 'Nba_com_team_Abbrev',
       'Opp_abbrev', 'Nba_com_team_Abbrev.1', 'Date_underscore', 'HomeTeam',
       'AwayTeam', 'Matchup_GameDate', 'CREW CHIEF', 'REFEREE\n&\nUMPIRE',
       'FULL GAME\nODDS URL', 'opponent', 'date'],
      dtype='object')

In [17]:
df.to_csv('data\\team\\bigdataball\\2018-2023_BDB_Boxes_with_Odds.csv')

In [18]:
main_df = pd.read_csv('data/team/All_Things_8.csv')
main_df.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,...,Estimate_Points_Difference_80gm,Tm1_Points_Estimate_40gm,Tm2_Points_Estimate_40gm,Estimate_Points_Difference_40gm,Tm1_Points_Estimate_20gm,Tm2_Points_Estimate_20gm,Estimate_Points_Difference_20gm,Tm1_Points_Estimate_Weighted,Tm2_Points_Estimate_Weighted,Estimate_Points_Difference_Weighted
0,0,0,0,0,CHI,CHI @ NYK,2022-12-23,W,48.0,118.0,...,-379.174646,10995.942014,11520.946939,-525.004925,11022.745613,11828.552023,-805.806410,10970.981845,11571.849795,-600.867949
1,1,1,1,15,DET,DET @ ATL,2022-12-23,L,48.0,105.0,...,-766.526783,10624.307420,11428.509654,-804.202233,10796.476620,10954.780770,-158.304150,10675.678493,11212.102631,-536.424138
2,2,2,2,27,LAC,LAC @ PHI,2022-12-23,L,48.0,114.0,...,-468.163383,11431.330836,11587.344368,-156.013532,11311.685400,11709.670065,-397.984665,11284.633799,11615.473247,-330.839448
3,3,3,3,26,ATL,ATL vs. DET,2022-12-23,W,48.0,130.0,...,766.526783,11428.509654,10624.307420,804.202233,10954.780770,10796.476620,158.304150,11212.102631,10675.678493,536.424138
4,4,4,4,25,MEM,MEM @ PHX,2022-12-23,W,48.0,125.0,...,-51.937497,11839.079421,11711.871378,127.208043,11872.632671,11747.237671,125.395000,11875.954605,11794.258165,81.696441

In [19]:
main_df.Matchup_GameDate

0          CHI @ NYK_12_23_2022
1          DET @ ATL_12_23_2022
2          LAC @ PHI_12_23_2022
3        ATL vs. DET_12_23_2022
4          MEM @ PHX_12_23_2022
                  ...
15097      NYK @ CLE_10_25_2016
15098    GSW vs. SAS_10_25_2016
15099      UTA @ POR_10_25_2016
15100    CLE vs. NYK_10_25_2016
15101    POR vs. UTA_10_25_2016
Name: Matchup_GameDate, Length: 15102, dtype: object

In [20]:
df.dtypes

DATASET                   object
GAME-ID                    int64
DATE                      object
TEAM                      object
VENUE                     object
TEAM\nREST DAYS           object
STARTING LINEUPS          object
Unnamed: 38               object
Unnamed: 39               object
Unnamed: 40               object
Unnamed: 41               object
MAIN REF                  object
CREW                      object
OPENING ODDS              object
OPENING SPREAD           float64
OPENING TOTAL            float64
LINE \nMOVEMENT #1        object
LINE \nMOVEMENT #2        object
LINE \nMOVEMENT #3        object
CLOSING\nODDS             object
CLOSING SPREAD           float64
CLOSING TOTAL            float64
MONEYLINE                 object
Team_Abrev                object
Nba_com_team_Abbrev       object
Opp_abbrev                object
Nba_com_team_Abbrev.1     object
Date_underscore           object
HomeTeam                  object
AwayTeam                  object
Matchup_GameDate          object
CREW CHIEF                object
REFEREE\n&\nUMPIRE        object
FULL GAME\nODDS URL       object
opponent                  object
date                      object
dtype: object

In [21]:
df.DATASET = df.DATASET.astype(str)
df.DATE = df.DATE.astype(str)
df['GAME-ID'] = df['GAME-ID'].astype(str)
df.Nba_com_team_Abbrev = df.Nba_com_team_Abbrev.astype(str)

In [22]:
# merge the two 

new_df = pd.merge(main_df, df, on='Matchup_GameDate', how='left')
new_df.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,...,Opp_abbrev,Nba_com_team_Abbrev.1,Date_underscore,HomeTeam,AwayTeam,CREW CHIEF,REFEREE\n&\nUMPIRE,FULL GAME\nODDS URL,opponent,date_y
0,0,0,0,0,CHI,CHI @ NYK,2022-12-23,W,48.0,118.0,...,Nyk,NYK,12_23_2022,NYK,CHI,NaN,NaN,NaN,NYK,12_23_2022
1,0,0,0,0,CHI,CHI @ NYK,2022-12-23,W,48.0,118.0,...,Nyk,NYK,12_23_2022,NYK,CHI,Eric Lewis,Jenna Schroeder,NaN,NYK,12_23_2022
2,1,1,1,15,DET,DET @ ATL,2022-12-23,L,48.0,105.0,...,Atl,ATL,12_23_2022,ATL,DET,NaN,NaN,NaN,ATL,12_23_2022
3,1,1,1,15,DET,DET @ ATL,2022-12-23,L,48.0,105.0,...,Atl,ATL,12_23_2022,ATL,DET,Rodney Mott,Phenizee Ransom,NaN,ATL,12_23_2022
4,2,2,2,27,LAC,LAC @ PHI,2022-12-23,L,48.0,114.0,...,Phi,PHI,12_23_2022,PHI,LAC,NaN,NaN,NaN,PHI,12_23_2022

In [23]:
new_df.to_csv('data/team/All_Things_9.csv')